ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#app{
    display: block;
    position: relative;
    height:100%;
}
html{
    height: 100%;
}
body{
    margin: 0;
    height:100%;
}
#baseCanvas{
    position: absolute;
    top:41px;
    left: 280px;
    z-index: 1;
}
#canvasBg{
    border: 1px solid transparent;
    float: left;
    margin-left: 280px;
    z-index: 0;
}
.readOnly{
    margin-left: 0!important;
    top:0!important;
    left: 0!important;
}
#controllerList{
    padding: 6px 20px 8px 20px;
    width: 100%;
    border: 1px solid #E9E9E9;
    border-left: 0;
    border-right: 0;
    height: 42px;
    line-height: 24px;
    box-sizing: border-box;
    z-index: 3;
    box-shadow: 0 8px 12px 0 rgba(0, 52, 107, 0.04);
    text-align: left;
}
#controllerList .separator {
    margin: 4px;
    border-left: 1px solid #E9E9E9;
    padding-bottom: 5px;
}
#controllerList .singleController{
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid rgba(2,2,2,0);
    font-size: 14px;
    text-align: center;
}
#controllerList .disable{
    color: rgba(0,0,0,0.25);
}
#controllerList .default:hover{
    cursor: pointer;
    border: 1px solid rgba(2,2,2,0.15);
}
#controllerList .disable:hover{
    cursor: default;
}
#controllerList .active{
    background: #EEEEEE;
}
#controllerList .active:hover{
    cursor: pointer;
}
#nodeList {
    display: inline-block;
    width: 279px;
    position: absolute;
    top:41px;
    left: 0;
    border-right: 1px solid #A7A7A7;
    text-align: center;
    height: calc(100% - 45px);
    overflow-y: auto;
    padding: 10px;
}
#nodeList select{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
    width: 100%;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#nodeList input{
    margin-top: 10px;
    height: 20px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
    width: 257px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#nodeList ul{
    overflow: hidden;
    padding-left: 8px;
    text-align: left;
}
#nodeList>ul{
    padding-bottom: 20px;
}
#nodeList .nodeIcon{
    font-size: 14px;
    text-align: left;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}
#nodeList .menu-submenu-arrow{
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: absolute;
    top: 50%;
    right: 16px;
    width: 10px;
}
#nodeList .menu-submenu-arrow:after,.menu-submenu-arrow:before{
    content: '';
    position: absolute;
    vertical-align: baseline;
    background: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    width: 6px;
    height: 1.5px;
    border-radius: 2px;
    -webkit-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#nodeList .menu-submenu-arrow:after{
    -webkit-transform: rotate(45deg) translateX(-2px);
    -ms-transform: rotate(45deg) translateX(-2px);
    transform: rotate(45deg) translateX(-2px);
}
#nodeList .menu-submenu-arrow:before{
    -webkit-transform: rotate(-45deg) translateX(2px);
    -ms-transform: rotate(-45deg) translateX(2px);
    transform: rotate(-45deg) translateX(2px);
}
#nodeList .secLiIcon{
    font-size: 14px;
    cursor: move;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 5px;
    border:1px solid #c4c1c1;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    line-height: 1;
}
#nodeList .secLiIcon .icon{
    padding-top: 5px;
    font-size: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
}
#nodeList .secLiIcon .secTitle{
    display: inline-block;
    padding-top: 5px;
}
#nodeList .secLiIcon .secTitleOnly{
    display: inline-block;
    padding-top: 5px;
}
#nodeList .unable>ul{
    max-height: 0;
}
#editor-clear{
    clear: both;
}
