#app{
    display: block;
    position: relative;
}
#baseCanvas{
    position: absolute;
    top:40px;
    left: 200px;
    z-index: 1;
}
#canvasBg{
    border: 1px solid transparent;
    float: left;
    margin-left: 200px;
    z-index: 0;
}
#controllerList{
    height: 40px;
}
#controllerList .separator {
    margin: 4px;
    border-left: 1px solid #E9E9E9;
}
#controllerList .controllerDom{

}